:root {
  --grid-maxWidth: 720px;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/atkinson-hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: local(''),
  url('/atkinson-hyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('/atkinson-hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  src: local(''),
  url('/atkinson-hyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
}

body.pongi {
  font-family: "Atkinson Hyperlegible", sans-serif;
  justify-content: center;
}

#title {
  float: left;
  width: 380px;
}

#footnotes {
  margin-top: 2.5em;
}

.for-print {
  display: none;
}

body.pongi h5 {
  font-weight: bold;
}

p.subtitle {
  color: var(--color-darkGrey);
  margin-top: -1em;
  padding-top: 0;
  font-style: italic;
}

@media screen {
  body.pongi {
    padding-bottom: 50vh;
  }
}

@media print {
  .for-print {
    display: block;
  }

  .for-web {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body.pongi {
    --bg-color: #000;
    --bg-secondary-color: #131316;
    --font-color: #f5f5f5;
    --color-grey: #ccc;
    --color-darkGrey: #777;
  }
}

@page {
  @top-left {
    font-family: 'Atkinson Hyperlegible';
  }
  @bottom-right {
    display: none;
  }
}
